<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings>
    <add name="DayclinicEntities" connectionString="metadata=res://*/DayClinicModel.csdl|res://*/DayClinicModel.ssdl|res://*/DayClinicModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.70.126.7;initial catalog=Dayclinic;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ClinicEntities" connectionString="metadata=res://*/ClinicModel.csdl|res://*/ClinicModel.ssdl|res://*/ClinicModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.70.126.7;initial catalog=Clinic;persist security info=True;user id=saclinic;password=clinicnothing;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>